# __boolean__
* 파이썬에는 명시적인 것이 암시적인 것보다 낫다라는 철학이 있습니다.
* True나 False는 0과 1로도 표현할 수 있으나 명시적으로 표현하기 위해 True와 False를 사용합니다.

In [18]:
# 1. True를 출력해 보세요.

In [19]:
# 2. False를 출력해 보세요.

In [20]:
# 3. True는 1과 같음을 표현해 보세요. 파이썬에서는 같음을 비교할 때 == 연산을 사용합니다.

In [21]:
# 4. 하지만 True는 문자 1과 다릅니다. 1을 따옴표로 감싸면 문자열이 됩니다.

In [22]:
# 5. 문자열 1과 True는 다릅니다.

In [23]:
# 6. False도 마찬가지 입니다.

In [24]:
# 7. False는 문자열 0과 다릅니다.

In [25]:
# 8. and 연산으로 True 값 끼리 비교합니다. and는 모든 값이 True 일때만 True가 됩니다.

In [26]:
# 9. and는 조건 중 하나라도 False라면 False가 됩니다.

In [16]:
# 10. or은 하나만 True 라도 True가 됩니다.

# ___Number and String___
* 숫자 1과 문자 "1"은 다릅니다. 숫자1과 문자1의 데이터 타입을 출력해보세요
* 테이터 타입을 표현할 때 type을 통해 테이터를 출력합니다.

In [27]:
# 11. 숫자 1을 출력해 보세요.

In [28]:
# 12. 문자 1을 출력해 보세요.

In [29]:
# 13. 숫자 1의 데이터 타입을 출력해 보세요.

In [30]:
# 14. 문자 1의 데이터 타입을 출력해 보세요.

In [31]:
# 15. 문자 1과 숫자 1을 비교합니다.

# ___String and Lists___

In [33]:
# 16. "Hello World!"를 출력해 봅니다.

In [34]:
# 17. 주소 "경기도 성남시 분당구"를 출력해 봅니다.

# ___String___

In [35]:
# 18. til이라는 변수에 "Today I Learned" 라는 문자열을 담아봅니다.

In [36]:
# 19. 모두 소문자로 만들어보세요 (lower)

In [38]:
# 20. 모두 대문자로 만들어보세요 (upper)

# ___lists___

In [43]:
# 21. 비어있는 리스트를 만듭니다. lang이라는 변수에 담습니다. ([])

In [45]:
# 22. python, java, c를 원소에 추가한 다음 (append), 리스트를 출력합니다.

In [46]:
# 23. lang 이라는 변수에 담겨있는 언어명을 인덱싱을 통해 가져옵니다.

In [47]:
# 24. 1번 인덱스를 가져옵니다.

In [49]:
# 25. 마지막 인덱스를 가져옵니다. (-1)

# ___Control Flow___
* 제어문 - 조건문, 반복문

In [51]:
# 26. 반복문을 통해 lang 리스트의 원소를 하나씩 출력합니다.

In [56]:
# 27. 위 코드에서 python일 때는 그대로 출력하고 나머지 텍스트는 "기타" 라고 출력합니다.
# 파이썬에서 조건문과 반복문을 사용할 때 Tab키 또는 4번의 space bar키로 Indent를 맞춘다.
# 출력 결과가 아래와 같도록 합니다.
# python
# 기타
# 기타

In [58]:
# 28. 특정 횟수만큼 반복문을 실행하도록 합니다. (range)

In [61]:
# 29. for문과 if문을 함께 사용해 봅시다
# 1부터 10까지 홀수만 출력하도록 합니다.

In [63]:
# 30. enumrate를 사용하면 인덱스 번화와 원소를 같이 가져올 수 있습니다.
# for i, val in enumlate(lang)
#    print(i, val)

# ___문자열___
* 문자열에서 사용할 수 있는 모든 method확인 방법 .누르고 tab키

In [65]:
# 31. 주소를 address 변수에 담습니다.
# "   경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층   "

In [66]:
# 32. 앞뒤 공백을 제거합니다. (strip)
# 데이터 전처리 시 주로 사용합니다.
# 결과를 다시 넣어주어야 합니다.

In [68]:
# 33. 문자열의 길이 (len)

In [74]:
# 34. 공백으로 문자열 분리 (split), 특정 문자료 문자열 분리하려면 split("구문문자")
# 결과를 address_list에 리스트에 저장

In [76]:
# 35. 리스트의 길이 (len)

* 슬라이싱, startswith, in을 통해 문자열에 서울이 있는지 확인하기

In [81]:
# 36. 슬라이싱으로 문자 가져오기 (address 앞에서 2글자)

In [83]:
# 37. startswith를 사용하면 특정 문자가 포함되는지 여부를 확인할 수 있습니다.
# address.startwith("경기")

In [85]:
# 38. in을 사용하게 되면 특정 문자열을 포함하고 있는지 여부를 확인할 수 있습니다.
# "경기" in address

# ___리스트___
* 문자열에서 쓰는 방법과 비슷하게 메소드 등을 사용할 수 있습니다.
* 차이를 비교해 보세요

In [86]:
# 39. 인덱싱으로 리스트의 원소 가져오기 - address_list에서 구를 자져와 gu라는 변수에 담아보세요

In [90]:
# 40. 인덱싱으로 리스트의 원소 가져오기 - address_ist에서 도로명을 가져와 street이라는 변수에 담아보세요

In [88]:
# 41. 리스트의 마지막을 가져옵니다.

In [89]:
# 42. " ".join(리스트)를 사용하면 리스트를 공백 문자열을 연결할 수 있습니다.
# 리스트로 분리된 문자열을 다시 연결합니다.

In [93]:
# 43. in을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "경기"가 address_list에 포함되는지 봅니다. 문자열이 정확하게 일치해야 True를 리턴한다

In [ ]:
# 44. in을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "분당구"가 address_list에 포함되는지 봅니다.