# __boolean__
* 파이썬에는 명시적인 것이 암시적인 것보다 낫다라는 철학이 있습니다.
* True나 False는 0과 1로도 표현할 수 있으나 명시적으로 표현하기 위해 True와 False를 사용합니다.

In [ ]:
# 1. True를 출력해 보세요.

In [ ]:
# 2. False를 출력해 보세요.

In [ ]:
# 3. True는 1과 같음을 표현해 보세요. 파이썬에서는 같음을 비교할 때 == 연산을 사용합니다.

In [ ]:
# 4. 하지만 True는 문자 1과 다릅니다. 1을 따옴표로 감싸면 문자열이 됩니다.

In [ ]:
# 5. 문자열 1과 True는 다릅니다.

In [ ]:
# 6. False도 마찬가지 입니다.

In [ ]:
# 7. False는 문자열 0과 다릅니다.

In [ ]:
# 8. and 연산으로 True 값 끼리 비교합니다. and는 모든 값이 True 일때만 True가 됩니다.

In [ ]:
# 9. and는 조건 중 하나라도 False라면 False가 됩니다.

In [ ]:
# 10. or은 하나만 True 라도 True가 됩니다.

# ___Number and String___
* 숫자 1과 문자 "1"은 다릅니다. 숫자1과 문자1의 데이터 타입을 출력해보세요
* 테이터 타입을 표현할 때 type을 통해 테이터를 출력합니다.
* 정수 연산자에는 더하기, 빼기, 곱하기, 부동소수점 나누기, 정수나누기, 나머지 계산하기, 지수 계산하기 등이 있습니다.

In [ ]:
# 11. 숫자 1을 출력해 보세요.

In [ ]:
# 12. 문자 1을 출력해 보세요.

In [ ]:
# 13. 숫자 1의 데이터 타입을 출력해 보세요.

In [ ]:
# 14. 문자 1의 데이터 타입을 출력해 보세요.

In [ ]:
# 15. 문자 1과 숫자 1을 비교합니다.

In [ ]:
# 16. 7을 2로 나눈 값을 출력해 보세요. (/는 부동소수점을 포함한 결과가 출력된다.)

In [ ]:
# 17. 7을 2로 나눈 정수값을 출력해 보세요. (//는 부동소수점을 제외한 결과가 출력된다.)

In [ ]:
# 18. 7을 4로 나눈 나머지를 출력해 보세요. (% 연산자를 나머지가 출력된다.)

In [ ]:
# 19. 2의 3.5제곱값을 출력해 보세요. (** 연산자는 부동소수점을 사용할 수 있다)

# ___String and Lists___

In [ ]:
# 20. "Hello World!"를 출력해 봅니다.

In [ ]:
# 21. 주소 '경기도 성남시 분당구'를 출력해 봅니다.

In [ ]:
# 22. 왜 2가지 종류의 따옴표가 있을까요? 주된 이유는 따옴표가 포함된 문자열을 만들기 위해서입니다.
# 다음 문자열을 출력해 보세요 she said, "python is amazing!"

# ___String___

In [ ]:
# 23. til이라는 변수에 "Today I Learned" 라는 문자열을 담아봅니다.

In [ ]:
# 24. 모두 소문자로 만들어보세요 (lower)

In [ ]:
# 25. print함수를 이용하여 til을 출력하세요

In [ ]:
# 26. 모두 대문자로 만들어보세요 (upper)

In [ ]:
# 27. 더 많은 문자열 함수를 확인하려면 변수이름 다음에 .을 입력하고 tab키를 누르세요 (til.)

In [ ]:
# 28. * 연산자를 이용하여 문자열을 복제하고 + 연산자를 이용하여 결합할 수 있습니다.

In [ ]:
start = 'Na' * 4 + '\n'
middle = 'hey' * 3 + '\n'
end ='Goodbye.'
print(start,start+middle+end) # print()는 각 인수 사이에 공백을 붙입니다.

In [ ]:
# 29. letters의 세번째 글자와 마지막 문자를 출력하세요
# 문자열에서 한 문자를 얻기 위해서는 문자열 이름 뒤에 대괄호 []와 오프셋을 지정합니다.
letters = 'abcdefghijklmnopqrstuvwxyz'

In [ ]:
# 30. letters의 첫번째 글자를 P로 변경하세요
# letters[0] = 'p' # 문자열은 불변하기 때문에 특정 인덱스에 문자를 삽입하거나 변경할 수 없습니다.
# letters.replace('a', 'p') # replace함수는 문자열에 있는 모든 문자를 변경합니다.
#'p' + letters[1:] # 슬라이스를 이용하여 문자열 일부를 추출할 수 있습니다.

# ___슬라이스로 부문 문자열 추출___
* ___[ : ] 처음부터 끝까지 전체 시퀀스를 추출한다.___
* ___[ start : ] start 오프셋부터 끝까지 시퀀스를 추출한다.___
* ___[ : end ] 처음부터 end-1 오프셋까지 시퀀스를 추출한다.___
* ___[ start : end ] start 오프셋부터 end-1 오프셋까지 시퀀스를 추출한다.___
* ___[ start : end : step ] step 만큼 문자를 건너뛰면서, start 오프셋부터 end-1 오프셋까지 시퀀스를 추출한다.___

In [ ]:
# 31. letters에 저장된 문자열에서 오프셋 20부터 문자열 끝까지 추출하세요

In [ ]:
# 32. letters에 저장된 문자열에서 오프셋 12부터 14까지 추출하세요

In [ ]:
# 33. letters에 저장된 문자열에서 마지막 세 문자를 추출하세요

In [ ]:
# 34. letters에 저장된 문자열에서 오프셋 18부터 마지막 네 번째 문자(w)까지 추출하세요

In [ ]:
# 35. letters에 저장된 문자열에서 끝에서 여섯 번째 문자(u)부터 끝에서 세 번째 문자(x)까지 추출하세요

In [ ]:
# 36. letters에 저장된 문자열에서 처음부터 끝까지 2스텝씩 건너뛰면서 문자를 추출하세요

# ___더 많은 문자열 함수___
* 문자열에서 사용할 수 있는 모든 method확인 방법 .누르고 tab키

In [ ]:
# 37. 주소를 address 변수에 저장합니다.
# "   경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층   "

In [ ]:
# 38. 앞뒤 공백을 제거합니다. (strip)
# 데이터 전처리 시 주로 사용합니다.
# 결과를 다시 넣어주어야 합니다.

In [ ]:
# 39. address에 저장된 문자열의 길이를 출력해 보세요. (len)

In [ ]:
# 40. address에 저장된 문자열을 공백으로 분리해보세요 (split)

In [ ]:
# 41. address에 저장된 문자열을 '구'로 분리해보세요 -특정 문자료 문자열 분리하려면 split("구문문자")

In [ ]:
# 42. startswith를 사용하여 address가 "경기" 라는 문자열로 시작하는지 확인해 보세요.

In [ ]:
# 43. in을 사용하여 address에 "경기" 라는 문자열을 포함하고 있는지 확인해 보세요.

# in 키워드 사용법 : substring in string
# substring - 검색하려는 부분 문자열
# string - 검색 대상이 되는 전체 문자열

In [ ]:
# 44. center함수를 사용하여 str을 중앙 정렬해보세요
str = "12345"

In [ ]:
# 45. ljust 함수를 사용하여 str을 왼쪽 정렬해보세요

In [ ]:
# 46. rjust 함수를 사용하여 str을 오른쪽 정렬해보세요

# ___lists___
* 리스트의 인덱싱은 string과 동일합니다.

In [ ]:
# 47. 비어있는 리스트를 만듭니다. lang이라는 변수에 담습니다. ([])

In [ ]:
# 48. python, java, c를 원소에 추가한 다음 (append), 리스트를 출력합니다.

In [ ]:
# 49. lang 이라는 변수에 담겨있는 첫 번째 값을 인덱싱을 통해 가져옵니다.

In [ ]:
# 50. 1번 인덱스를 가져옵니다.

In [ ]:
# 51. 마지막 인덱스를 가져옵니다. (-1)

In [ ]:
# 52. 다음 문자열을 address에 저장하세요
"   경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층   "

In [ ]:
# 53. address에 저장된 문자열을 공백으로 분리해서 address_list라는 이름의 list에 저장하세요

In [ ]:
# 54. address_list에서 인덱싱으로 "분당구"를 자져와 gu라는 문자열 변수에 저장하세요

In [ ]:
# 55. address_list에서 인덱싱으로 "불정로"를 가져와 street이라는 문자열 변수에 저장하세요

In [ ]:
# 56. address_list에서 원소의 마지막을 가져옵니다.

In [ ]:
# 57. address_list를 원래의 문자열로 합쳐서 address2에 저장해 주세요.
# " ".join(리스트)를 사용하면 리스트를 공백 문자열을 연결할 수 있습니다. " ", "_", "-"등으로 연결할 수 있습니다.

In [ ]:
# 58. in이라는 키워드를 이용하여 "분당구"가 address_list에 포함되는지 확인해 보세요

# in 키워드 사용법 : substring in list
# substring - 검색하려는 부분 문자열
# list - 검색 대상이 되는 list

In [ ]:
# 59. in이라는 키워드를 이용하여 "경기"가 address_list에 포함되는지 확인해 보세요

# list는 인덱싱된 문자열이 정확하게 일치해야 True를 리턴합니다.
# list에 일부 문자열이 포함되면 True를 리턴하도록 코드를 수정해보세요.(list를 문자열로 변경해서 in키워드로 확인)

# ___Control Flow___
* 제어문 - 조건문, 반복문
* 파이썬에서 조건문과 반복문을 사용할 때 Tab키 또는 4번의 space bar키로 Indent를 맞춘다.

In [ ]:
# 60. 반복문을 통해 lang 리스트의 원소를 하나씩 출력합니다.
for i in lang:
    print(i)

In [ ]:
# 61. 반복문과 조건문을 이용하여 lang에 저장된 값이 python일 때는 그대로 출력하고 python이 아닐 때는 "기타" 라고 출력합니다.
# 출력 결과가 아래와 같도록 합니다. 반복문과 조건문 사용 시 indent(들여쓰기)를 주의하세요
# python
# 기타
# 기타

In [ ]:
# 62. 특정 횟수만큼 반복문을 실행할 수 있습니다.
count = len(lang)
for i in range(count):
    print(lang[i])

In [ ]:
# 63. for문과 if문을 함께 사용해 봅시다
# 1부터 10까지 홀수만 출력해보세요.

In [ ]:
# 64. enumrate를 사용하면 인덱스 번화와 원소를 같이 가져올 수 있습니다.
for i, val in enumlate(lang):
    print(i, val)

# ___실습과제___
* 반복문과 제어문을 이용하여 아래와 같이 삼각형 모양을 출력해보세요

In [ ]:
# 삼각형 출력 1

*
***
*****
*******
*********

In [ ]:
# 삼각형 출력 2

    *
   ***
  *****
 *******
*********