# __boolean__
* 파이썬에는 명시적인 것이 암시적인 것보다 낫다라는 철학이 있습니다.
* True나 False는 0과 1로도 표현할 수 있으나 명시적으로 표현하기 위해 True와 False를 사용합니다.

In [2]:
# 1. True를 출력해 보세요.
print(True)

True

In [3]:
# 2. False를 출력해 보세요.
print(False)

False

In [4]:
# 3. True는 1과 같음을 표현해 보세요. 파이썬에서는 같음을 비교할 때 == 연산을 사용합니다.
print(True==1)

True

In [5]:
# 4. 하지만 True는 문자 1과 다릅니다. 1을 따옴표로 감싸면 문자열이 됩니다.
print(True=='1')

False

In [6]:
# 5. 문자열 1과 True는 다릅니다.
print("1"==True)

False

In [7]:
# 6. False도 마찬가지 입니다.
print(False==1)

False

In [8]:
# 7. False는 문자열 0과 다릅니다.
print(False=="0")

False

In [9]:
# 8. and 연산으로 True 값 끼리 비교합니다. and는 모든 값이 True 일때만 True가 됩니다.
print(True and True)

True

In [10]:
# 9. and는 조건 중 하나라도 False라면 False가 됩니다.
print(True and False)

False

In [12]:
# 10. or은 하나만 True 라도 True가 됩니다.
print(True or False)

True

# ___Number and String___
* 숫자 1과 문자 "1"은 다릅니다. 숫자1과 문자1의 데이터 타입을 출력해보세요
* 테이터 타입을 표현할 때 type을 통해 테이터를 출력합니다.
* 정수 연산자에는 더하기, 빼기, 곱하기, 부동소수점 나누기, 정수나누기, 나머지 계산하기, 지수 계산하기 등이 있습니다.

In [13]:
# 11. 숫자 1을 출력해 보세요.
print(1)

1

In [14]:
# 12. 문자 1을 출력해 보세요.
print("1")

1

In [15]:
# 13. 숫자 1의 데이터 타입을 출력해 보세요.
print(type(1))

<class 'int'>

In [16]:
# 14. 문자 1의 데이터 타입을 출력해 보세요.
print(type("1"))

<class 'str'>

In [17]:
# 15. 문자 1과 숫자 1을 비교합니다.
print("1"==1)

False

In [19]:
# 16. 7을 2로 나눈 값을 출력해 보세요. (/는 부동소수점을 포함한 결과가 출력된다.)
print(7/2)

3.5

In [20]:
# 17. 7을 2로 나눈 정수값을 출력해 보세요. (//는 부동소수점을 제외한 결과가 출력된다.)
print(7//2)

3

In [21]:
# 18. 7을 4로 나눈 나머지를 출력해 보세요. (% 연산자를 나머지가 출력된다.)
print(7%4)

3

In [22]:
# 19. 2의 3.5제곱값을 출력해 보세요. (** 연산자는 부동소수점을 사용할 수 있다)
print(2**3.5)

11.313708498984761

# ___String and Lists___

In [23]:
# 20. "Hello World!"를 출력해 봅니다.
print("Hello World")

Hello World

In [25]:
# 21. 주소 '경기도 성남시 분당구'를 출력해 봅니다.
print("경기도 성남시 분당구")

경기도 성남시 분당구

In [26]:
# 22. 왜 2가지 종류의 따옴표가 있을까요? 주된 이유는 따옴표가 포함된 문자열을 만들기 위해서입니다.
# 다음 문자열을 출력해 보세요 she said, "python is amazing!"
print('she said, "python is amazing!"')

she said, "python is amazing!"

# ___String___

In [30]:
# 23. til이라는 변수에 "Today I Learned" 라는 문자열을 담아봅니다.
til = "Today I Learned"

In [29]:
# 24. 모두 소문자로 만들어보세요 (lower)
print(til.lower)

<built-in method lower of str object at 0x7d98682932b0>

In [31]:
# 25. print함수를 이용하여 til을 출력하세요
print(til)

Today I Learned

In [33]:
# 26. 모두 대문자로 만들어보세요 (upper)
print(til.upper())

TODAY I LEARNED

In [38]:
# 27. 더 많은 문자열 함수를 확인하려면 변수이름 다음에 .을 입력하고 tab키를 누르세요 (til.)
til = "Today I Learned "

In [39]:
# 28. * 연산자를 이용하여 문자열을 복제하고 + 연산자를 이용하여 결합할 수 있습니다.
repeat = "Hi! " * 3
print(repeat)  # Hi! Hi! Hi!
greeting = "Hello, " + "World!"
print(greeting)  # Hello, World!

Hi! Hi! Hi!
Hello, World!

In [40]:
start = 'Na' * 4 + '\n'
middle = 'hey' * 3 + '\n'
end ='Goodbye.'
print(start,start+middle+end) # print()는 각 인수 사이에 공백을 붙입니다.

start = 'Na' * 4 + '\n'
middle = 'hey' * 3 + '\n'
end = 'Goodbye.'
print(start, start + middle + end)

NaNaNaNa
 NaNaNaNa
heyheyhey
Goodbye.
NaNaNaNa
 NaNaNaNa
heyheyhey
Goodbye.

In [41]:
# 29. letters의 세번째 글자와 마지막 문자를 출력하세요
# 문자열에서 한 문자를 얻기 위해서는 문자열 이름 뒤에 대괄호 []와 오프셋을 지정합니다.
letters = 'abcdefghijklmnopqrstuvwxyz'
letters = 'abcdefghijklmnopqrstuvwxyz'

# 세 번째 글자 (인덱스 2, 0부터 시작)
third_char = letters[2]

# 마지막 문자 (인덱스 -1)
last_char = letters[-1]

print("세 번째 글자:", third_char)
print("마지막 문자:", last_char)

세 번째 글자: c
마지막 문자: z

In [42]:
# 30. letters의 첫번째 글자를 P로 변경하세요
# letters[0] = 'p' # 문자열은 불변하기 때문에 특정 인덱스에 문자를 삽입하거나 변경할 수 없습니다.
# letters.replace('a', 'p') # replace함수는 문자열에 있는 모든 문자를 변경합니다.
#'p' + letters[1:] # 슬라이스를 이용하여 문자열 일부를 추출할 수 있습니다.
letters = 'abcdefghijklmnopqrstuvwxyz'

# 첫 글자를 'P'로 바꾸고 나머지는 그대로 이어 붙이기
letters_modified = 'P' + letters[1:]

print(letters_modified)

Pbcdefghijklmnopqrstuvwxyz

# ___슬라이스로 부문 문자열 추출___
* ___[ : ] 처음부터 끝까지 전체 시퀀스를 추출한다.___
* ___[ start : ] start 오프셋부터 끝까지 시퀀스를 추출한다.___
* ___[ : end ] 처음부터 end-1 오프셋까지 시퀀스를 추출한다.___
* ___[ start : end ] start 오프셋부터 end-1 오프셋까지 시퀀스를 추출한다.___
* ___[ start : end : step ] step 만큼 문자를 건너뛰면서, start 오프셋부터 end-1 오프셋까지 시퀀스를 추출한다.___

In [43]:
# 31. letters에 저장된 문자열에서 오프셋 20부터 문자열 끝까지 추출하세요
letters='abcdefghijklmnopqrstuvwxyz'
print(letters[20:])

uvwxyz

In [44]:
# 32. letters에 저장된 문자열에서 오프셋 12부터 14까지 추출하세요
letters = 'abcdefghijklmnopqrstuvwxyz'

# 오프셋 12부터 14까지 추출 (끝 인덱스는 15로 지정, 슬라이스는 끝 인덱스 제외)
substring = letters[12:15]

print(substring)

mno

In [51]:
# 33. letters에 저장된 문자열에서 마지막 세 문자를 추출하세요
letters='abcdefghijklmnopqrstuvwxyz'

last_three=letters[-3:]

print(last_three)

xyz

In [52]:
# 34. letters에 저장된 문자열에서 오프셋 18부터 마지막 네 번째 문자(w)까지 추출하세요
letters = 'abcdefghijklmnopqrstuvwxyz'

# 오프셋 18부터 마지막 네 번째 문자 'w'까지 추출
substring = letters[18:23]  # 인덱스 18부터 22까지 (마지막 인덱스는 23 - 1)

print(substring)

stuvw

In [54]:
# 35. letters에 저장된 문자열에서 끝에서 여섯 번째 문자(u)부터 끝에서 세 번째 문자(x)까지 추출하세요
letters = 'abcdefghijklmnopqrstuvwxyz'

# 끝에서 여섯 번째 문자는 인덱스 -6 (u)
# 끝에서 세 번째 문자는 인덱스 -3 (x)
substring = letters[-6:-2]  # 슬라이스는 끝 인덱스 제외이므로 -2를 써야 -3까지 포함됨

print(substring)

uvwx

In [55]:
# 36. letters에 저장된 문자열에서 처음부터 끝까지 2스텝씩 건너뛰면서 문자를 추출하세요
letters = 'abcdefghijklmnopqrstuvwxyz'

# 처음부터 끝까지 2스텝씩 건너뛰기
result = letters[0::2]

print(result)

acegikmoqsuwy

# ___더 많은 문자열 함수___
* 문자열에서 사용할 수 있는 모든 method확인 방법 .누르고 tab키

In [57]:
# 37. 주소를 address 변수에 저장합니다.
# "   경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층   "
address="경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층"

In [58]:
# 38. 앞뒤 공백을 제거합니다. (strip)
# 데이터 전처리 시 주로 사용합니다.
# 결과를 다시 넣어주어야 합니다.
address = address.strip()

print(address)

경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층

In [60]:
# 39. address에 저장된 문자열의 길이를 출력해 보세요. (len)
print(len(address))

33

In [61]:
# 40. address에 저장된 문자열을 공백으로 분리해보세요 (split)
print(address.split())

['경기도', '성남시', '분당구', '불정로', '6', 'NAVER', '그린팩토리', '16층']

In [62]:
# 41. address에 저장된 문자열을 '구'로 분리해보세요 -특정 문자료 문자열 분리하려면 split("구문문자")
address = "경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층"

# '구'를 기준으로 문자열 분리
parts = address.split('구')

print(parts)

['경기도 성남시 분당', ' 불정로 6 NAVER 그린팩토리 16층']

In [64]:
# 42. startswith를 사용하여 address가 "경기" 라는 문자열로 시작하는지 확인해 보세요.
print(address.startswith("경기"))

True

In [65]:
# 43. in을 사용하여 address에 "경기" 라는 문자열을 포함하고 있는지 확인해 보세요.

# in 키워드 사용법 : substring in string
# substring - 검색하려는 부분 문자열
# string - 검색 대상이 되는 전체 문자열
address = "경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층"

# "경기" 문자열 포함 여부 확인
contains_keyword = "경기" in address

print(contains_keyword)

True

In [67]:
# 44. center함수를 사용하여 str을 중앙 정렬해보세요
str = "12345"
str = "12345"

# 전체 길이 10으로 중앙 정렬 (빈칸은 공백으로 채움)
centered_str = str.center(10)

print(f"'{centered_str}'")

'  12345   '

In [68]:
# 45. ljust 함수를 사용하여 str을 왼쪽 정렬해보세요
str = "12345"

# 전체 길이 10으로 왼쪽 정렬 (빈칸은 공백으로 채움)
left_aligned = str.ljust(10)

print(f"'{left_aligned}'")

'12345     '

In [69]:
# 46. rjust 함수를 사용하여 str을 오른쪽 정렬해보세요
str = "12345"

# 전체 길이 10으로 오른쪽 정렬 (빈칸은 공백으로 채움)
right_aligned = str.rjust(10)

print(f"'{right_aligned}'")

'     12345'

# ___lists___
* 리스트의 인덱싱은 string과 동일합니다.

In [72]:
# 47. 비어있는 리스트를 만듭니다. lang이라는 변수에 담습니다. ([])
lang = []
print(lang)

[]

In [76]:
# 48. python, java, c를 원소에 추가한 다음 (append), 리스트를 출력합니다.
lang=[]
lang.append("python")
lang.append("java")
lang.append("c")
print(lang)

['python', 'java', 'c']

In [79]:
# 49. lang 이라는 변수에 담겨있는 첫 번째 값을 인덱싱을 통해 가져옵니다.
lang = ['python', 'java', 'c']

first_element = lang[0]

print(first_element)

python

In [80]:
# 50. 1번 인덱스를 가져옵니다.
lang = ['python', 'java', 'c']

second = lang[1]

print(second)

java

In [81]:
# 51. 마지막 인덱스를 가져옵니다. (-1)
lang = ['python', 'java', 'c']

last_element=lang[1]

print(last_element)

java

In [82]:
# 52. 다음 문자열을 address에 저장하세요
"   경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층   "
address="경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층"

In [83]:
# 53. address에 저장된 문자열을 공백으로 분리해서 address_list라는 이름의 list에 저장하세요
address_list = address.split()
print(address_list)

['경기도', '성남시', '분당구', '불정로', '6', 'NAVER', '그린팩토리', '16층']

In [85]:
# 54. address_list에서 인덱싱으로 "분당구"를 자져와 gu라는 문자열 변수에 저장하세요
gu=address_list[2]
print(gu)

분당구

In [87]:
# 55. address_list에서 인덱싱으로 "불정로"를 가져와 street이라는 문자열 변수에 저장하세요
street = address_list[3]
print(street)

불정로

In [91]:
# 56. address_list에서 원소의 마지막을 가져옵니다.
address_list=['경기도', '성남시', '분당구', '불정로', '6', 'NAVER', '그린팩토리', '16층']
last_element = address_list[-1]

print(last_element)

16층

In [92]:
# 57. address_list를 원래의 문자열로 합쳐서 address2에 저장해 주세요.
# " ".join(리스트)를 사용하면 리스트를 공백 문자열을 연결할 수 있습니다. " ", "_", "-"등으로 연결할 수 있습니다.
address_list = ['경기도 성남시 분당구', '불정로 6', 'NAVER 그린팩토리', '16층']

address2 = " ".join(address_list)

print(address2)

경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층

In [93]:
# 58. in이라는 키워드를 이용하여 "분당구"가 address_list에 포함되는지 확인해 보세요

# in 키워드 사용법 : substring in list
# substring - 검색하려는 부분 문자열
# list - 검색 대상이 되는 list
address_list=['경기도', '성남시', '분당구', '불정로', '6', 'NAVER', '그린팩토리', '16층']

contains = any("분당구" in item for item in address_list)

print(contains)

True

In [94]:
# 59. in이라는 키워드를 이용하여 "경기"가 address_list에 포함되는지 확인해 보세요

# list는 인덱싱된 문자열이 정확하게 일치해야 True를 리턴합니다.
# list에 일부 문자열이 포함되면 True를 리턴하도록 코드를 수정해보세요.(list를 문자열로 변경해서 in키워드로 확인)
address_list = ['경기도 성남시 분당구', '불정로 6', 'NAVER 그린팩토리', '16층']

contains = any("경기" in item for item in address_list)

print(contains)

True

# ___Control Flow___
* 제어문 - 조건문, 반복문
* 파이썬에서 조건문과 반복문을 사용할 때 Tab키 또는 4번의 space bar키로 Indent를 맞춘다.

In [95]:
# 60. 반복문을 통해 lang 리스트의 원소를 하나씩 출력합니다.
for i in lang:
    print(i)
    lang = ['python', 'java', 'c']

for i in lang:
    print(i)

python
java
c
python
java
c

In [96]:
# 61. 반복문과 조건문을 이용하여 lang에 저장된 값이 python일 때는 그대로 출력하고 python이 아닐 때는 "기타" 라고 출력합니다.
# 출력 결과가 아래와 같도록 합니다. 반복문과 조건문 사용 시 indent(들여쓰기)를 주의하세요
# python
# 기타
# 기타
lang = ['python', 'java', 'c']

for i in lang:
    if i == 'python':
        print(i)
    else:
        print("기타")

python
기타
기타

In [97]:
# 62. 특정 횟수만큼 반복문을 실행할 수 있습니다.
count = len(lang)
for i in range(count):
    print(lang[i])
    lang = ['python', 'java', 'c']

count = len(lang)
for i in range(count):
    print(lang[i])

python
java
c
python
java
c

In [98]:
# 63. for문과 if문을 함께 사용해 봅시다
# 1부터 10까지 홀수만 출력해보세요.
for i in range(1, 11):  # 1부터 10까지 반복
    if i % 2 == 1:      # i가 홀수인지 확인 (나머지가 1이면 홀수)
        print(i)

1
3
5
7
9

In [100]:
# 64. enumrate를 사용하면 인덱스 번화와 원소를 같이 가져올 수 있습니다.
lang = ['python', 'java', 'c']

for i, val in enumerate(lang):
    print(i, val)

0 python
1 java
2 c

# ___실습과제___
* 반복문과 제어문을 이용하여 아래와 같이 삼각형 모양을 출력해보세요

In [101]:
# 삼각형 출력 1
# 삼각형 모양의 별을 출력하는 코드

lines = 5  # 출력할 줄 수

for i in range(lines):
    stars = 2 * i + 1  # 각 줄별 별 개수 (1, 3, 5, 7, 9)
    print('*' * stars)

*
***
*****
*******
*********

In [102]:
# 삼각형 출력 2
lines = 5  # 줄 수

for i in range(lines):
    stars = 2 * i + 1                # 별 개수 (1,3,5,7,9)
    spaces = lines - i - 1           # 왼쪽 공백 개수
    print(' ' * spaces + '*' * stars)

    *
   ***
  *****
 *******
*********